<mat-toolbar class="toolbar" >
  <span class="toolbarLogin">
    <img src="assets/logo.svg">
  </span>

  <span class="example-fill-remaining-space"></span>

  <span class="toolbarLogin humanRadius material-icons md-48">
    account_circle
  </span>


  <span class="toolbarLogin" *ngIf="!edited">
    <button (click)="login()" mat-button>
      <img src="assets/login-24.png">
    </button>
  </span>
  <span  class="toolbarLogin" *ngIf="edited">
    <button (click)="logout()" mat-button>
      <img src="assets/shutdown-24.png">
    </button>
  </span>
</mat-toolbar>

<button *ngIf="edited" (click)="saveButton()" class="verificaButton" mat-fab mat-button mat-ink-ripple >{{save? 'Salva': 'Indietro' }}</button>

  <!--mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngIf="firstPG" class="transition">
      <button  [disabled]="pfpgButtons" (click)="personaG()" mat-button class=" buttonGrid material-icons md-120">
        perm_identity
      </button></mat-grid-tile>
    <mat-grid-tile *ngIf="firstPF">
      <button  [disabled]="pfpgButtons" (click)="personaF()" mat-button class="buttonGrid material-icons md-100">
        gavel
      </button>
    </mat-grid-tile>

  </mat-grid-list-->

<mat-list class="firstMenu ">

    <mat-list-item  class="itemListF" >
      <div class="fieldFirstButton">
        <button   *ngIf="buttonPfisica"  id="pfisicaID" [disabled]="pfpgButtons" (click)="personaF()" mat-button class=" fleft animate buttonGrid material-icons md-120 ">
          perm_identity
        </button>
        <button  *ngIf="buttonPgiuridica" id="pgiuridicaID" [disabled]="pfpgButtons" (click)="personaG()" mat-button class=" fright buttonGrid animate material-icons md-100">
          gavel
        </button>
      </div>
    </mat-list-item>

  </mat-list>


<div class=" formContainer" *ngIf="edited">


  <form class="itemForm">

    <div class="section">
      <label class="formT">Info Agenzia</label>
      <mat-list class="formCol" cols="1">
        <mat-list-item class="itemListF">
          <mat-form-field  class="fieldF">
            <mat-select class="fieldF" placeholder="Punti vendita*">
              <mat-option *ngFor="let p of pvendita" [value]="p.value">
                {{p.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item class="itemListF">
          <mat-form-field  class="fieldF">
            <mat-select class="fieldF" placeholder="Canale">
              <mat-option *ngFor="let c of canali" [value]="c.value">
                {{c.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item class="itemListF">
          <mat-form-field class="fieldF">
            <input matInput placeholder="Produttore*">
          </mat-form-field>
          <button mat-fab type="submit">Scegli</button>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="section">
      <label class="formT">Nominativo</label>
      <mat-list class="formCol">
        <mat-list-item class="itemListF">
          <mat-form-field class="fieldF">
            <input matInput placeholder="Cognome*">
          </mat-form-field>
          <mat-form-field  class="fieldF">
            <input matInput placeholder="Nome*">
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="section">
      <label class="formT">Dati Fiscali</label>
      <mat-list class="formCol">
        <mat-list-item class="itemListF">
          <mat-form-field class="fieldFDatiF">
            <input matInput placeholder="Codice Fiscale">
          </mat-form-field>
          <button class="datiF" mat-fab>Verifica</button>
          <mat-checkbox class="datiF">Valido</mat-checkbox>
          <mat-form-field class="fieldFDatiF">
            <input matInput placeholder="Partita Iva">
          </mat-form-field>
          <button mat-fab class="datiF">Verifica</button>
          <mat-checkbox class="datiF">Valido</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="editfromSave">
      <label class="formT editfromSave" >Dati Anagrafici Persona</label>
      <mat-list class="formCol">
        <mat-list-item class="itemListF">
          <mat-form-field class="fieldF">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field  class="fieldF">
            <mat-select class="fieldF" placeholder="Sesso*">
              <mat-option *ngFor="let s of sesso" [value]="s.value">
                {{s.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item class="itemListF">
          <mat-form-field class="fieldF">
            <input matInput placeholder="Provincia Nascita">
          </mat-form-field>

          <button class="datiF" mat-fab>Provincia</button>

          <mat-form-field class="datiF">
            <input matInput placeholder="Luogo di Nascita">
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>

  </form>
</div>
